<%- include('partials/header'); -%>

<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" autocomplete="off" name="postTitle" id="title" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="post">Post</label>
        <textarea name="postBody" id="post" rows="5" cols="30" class="form-control" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Pulish</button>
</form>

<%- include('partials/footer'); -%>